.new-publication{
    
    height: 200px;
    margin-bottom: 50px;
    background-color: #323232;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    color: #D2D2D2;
    font-size: 30px;
}

.fecha{
    width: 100%;
  padding: 16px;
  background-color: #d5d7d8;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

/* Estilos personalizados del modal */
.custom-modal {
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.custom-modal.show {
    display: flex;
}


.modal-content-custom {
    padding: 60px;
    border-radius: 20px;
    width: 90%;
    max-width: 1200px;
    max-height: 80vh;
    overflow-y: auto;
    background-color: #323232;
    position: relative;
    animation: modalFadeIn 0.3s ease-out;
    margin: auto;
    margin-top: 80px;

    /* Oculta la barra de desplazamiento en navegadores WebKit */
    scrollbar-width: none; /* Firefox */
}

.modal-content-custom::-webkit-scrollbar {
    display: none; /* Chrome, Safari y otros navegadores basados en WebKit */
}


.form-control{
    width: 100%;
    padding: 16px;
    background-color: #D2D2D2;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}
.modal-header-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

.modal-header-custom h5 {
    margin: 0;
    color: #D2D2D2;
    margin-bottom: 60px;
    font-size: 35px;
}

.btn-close-custom {
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal-footer-custom {
    text-align: center;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.modal-footer-custom button {
    margin-left: 10px;
}
.btn-cancelar{
    background-color: #63666B;;
    
}
.btn-guardar{
    
    background-color: #f36b2b;
    

}
.btn{
    color: #D2D2D2;
    padding: 15px 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    display: block;
}
.btn-cancelar:hover{
    background-color: #63666B;
    color: #323232;
    transform: scale(1.05); /* Efecto de aumento en el hover */
    
}
.btn-guardar:hover {
    color: #D2D2D2;
    background-color: #f36b2b;
    transform: scale(1.05); /* Efecto de aumento en el hover */
}
body.modal-open {
    overflow: hidden;
}
.vista-previa{
    display: block;
    width: 150px;
    height: 140px;
    margin-top: 10px;
    margin: auto;
}
.contenedor-img{
    background-color: #D2D2D2;
}

  