/* Asegura que el body y el html ocupen toda la altura de la pantalla */
html, body {
  height: 100%;
  margin: 0;
}

/* Contenedor principal que envuelve el contenido de la página */
body {
  display: flex;
  flex-direction: column;
}

/* Este contenedor ocupa el espacio disponible entre el header y el footer */
.main-content {
  flex: 1;
}

/* Footer siempre al final */
.footer {
  background-color: #323232;
  padding: 20px 0;
  text-align: center;
  color: #fff;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.footer-logo {
  width: 150px;
  height: auto;
}

.footer-icons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.icon-arrow {
  margin-bottom: 10px;
}

.icon-arrow a {
  color: #f36b2b;
  font-size: 24px;
  transition: color 0.3s;
}

.icon-arrow a:hover {
  color: #ffffff;
}

.footer-icons {
  display: flex;
  gap: 15px;
}

.footer-icons a {
  color: #f36b2b;
  font-size: 24px;
  transition: color 0.3s;
}

.footer-icons a:hover {
  color: #ffffff;
}

.footer-email {
  margin-top: 5px;
  color: #63666B;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-bottom {
  background-color: #63666B;
  padding: 10px 0;
}

.footer-bottom p {
  text-align: center;
  font-size: 14px;
  color: #323232;

  
 
}
.footer-bottom p {
  margin-top: 0 !important;
  margin: 10px!important;
}

#pageSelect{
  text-align: center;
}

/* Responsividad */
@media (max-width: 768px) {
  .footer-content {
      flex-direction: column;
      align-items: center;
  }

  .footer-logo {
      margin-bottom: 10px;
  }

  .footer-icons-container {
      margin: 10px 0;
  }
}
