.container {
    
    padding: 100px 0;
    
}
.main-content{
    padding: 50px 150px;}
select {
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
    width: calc(100% - 30px);
    background-color: #D2D2D2;
    color: #63666B;
    cursor: pointer;
}

select:focus {
    border-color: #f36b2b;
}

select option {
    color: #63666B; /* Ajusta el color de las opciones dentro del select */
}

/* Primera sección: Avatar y botón */
.user-info {
    display: block;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.avatar-container {
    height: 300px;
    width: 300px;
    background: #63666B;;
    margin: auto;
    border-radius: 50%;
    padding: 5px;
    margin-bottom: 40px;
    border: 2px solid #D2D2D2;
}

.avatar {   
    
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
    width: 100%;
    height: 100%;
  
}

.btn-generate-card {
    color: #f36b2b;
    background-color: #323232;
    border: none;
    padding: 30px 30px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-generate-card:hover {
    background-color: #141414;
    transform: scale(1.05); /* Efecto de aumento en el hover */
}

/* Segunda sección: Descargas y carga de documentos */
.downloads {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #63666B;
    padding: 50px;
    border-radius: 30px;
    margin-bottom: 80px;
}


.download-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn-download {
    background-color: #323232;
    color: #D2D2D2;
    border: none;
    padding: 12px 20px; /* Ajusta el tamaño del botón */
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-download:hover {
    background-color: #141414;
    transform: scale(1.05); /* Efecto de aumento en el hover */
}

.upload-section {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra horizontalmente */
    margin-left: auto;
    margin-right: auto;
    flex: 1;
}

.drop-area {
    flex: 1; /* Permite que el área de carga ocupe más espacio */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border: 2px dashed #D2D2D2;
    border-radius: 10px;
    background-color: #D2D2D2;
    color: #63666B;
    cursor: pointer;
    text-align: center;
    font-size: 16px; /* Tamaño de fuente ajustado para mejor visibilidad */
    transition: background-color 0.3s ease, border-color 0.3s ease;
    min-width: 200px; /* Asegura un ancho mínimo para la zona de carga */
    margin: 30px;
}

.drop-area:hover {
    background-color: #D2D2D2;
    border-color: #D2D2D2; /* Cambia el color del borde en hover */
}

/* Estilo del contenedor del formulario */
.section-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;  
}

.section-prin{
    margin-bottom: 50px;
    background-color: #63666B;
    padding: 30px;
    border-radius: 30px;
}

.section-prin h2{
    text-align: left;
    margin: 15px;
    margin-bottom: 45px;
    font-size: 20px;
    
}

/* Estilo del contenedor de la carga de imagen */
.drop-area2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border: 2px dashed #D2D2D2;
    border-radius: 5px;
    background-color: #D2D2D2;
    color: #63666B;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    height: 50px;
    margin-top: 24px;
    width: calc(100% - 30px);
    box-sizing: border-box;
    position: relative; /* Añadido para posicionar el label sobre el input */
}

/* Estilo del label para la carga de imagen */
.drop-area2 label {
    position: absolute; /* Posiciona el label sobre el campo */
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta la posición para centrar */
    font-weight: bold;
    color: #63666B;
    pointer-events: none; /* Evita que el label interfiera con el clic */
}

/* Estilo del input real para la carga de imagen */
.drop-area2 input {
    display: none; /* Oculta el input real */
}

.file-input {
    display: none; /* Oculta el input real */
}

.btn-upload {
    background-color: #323232;
    color: #D2D2D2;
    border: none;
    padding: 30px 20px; /* Ajusta el tamaño del botón */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    
}

.btn-upload:hover {
    background-color: #141414;
    transform: scale(1.05); /* Efecto de aumento en el hover */
}

.form-container input {
    margin-bottom: 10px;
}

.form-container label {
    display: block;
    font-weight: bold;
    margin: auto;
    text-align: left;
    padding-left: 20px; /* Reducido para pantallas más pequeñas */
    color: #D2D2D2;
}

.form-container .form-group {
    margin-bottom: 15px;
}

.error {
    color: #f36b2b;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
    display: none;
    text-align: left;
}

/* Tercera sección: Formulario */
.form-section {
    
    
    border-radius: 30px;
    color: #D2D2D2;
    display: grid;
    gap: 20px; /* Ajusta el espacio entre los elementos si es necesario */
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Alinea verticalmente */
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #D2D2D2;
    text-align: left;
    padding-left: 10px;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="file"] {
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
    width: calc(100% - 30px);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
input[type="file"]:focus {
    border-color: #f36b2b;
}

/* Botón de Actualizar */
.btn-update {
    grid-column: span 2;
    background-color: #323232;
    color: #D2D2D2;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 50%;
  margin: auto;
}

.btn-update:hover {
    background-color: #444;
}



@media (max-width: 768px) {

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.2em;
    }

    .btn-update {
        font-size: 14px;
        padding: 12px;
        
    }
    .btn-upload{
        padding: 20px;
        width: 100%;
    }

    
    .form-group{
        
        margin: 20px auto;
    }
    
    input[type="text"], input[type="email"], input[type="date"], input[type="file"] {
        
        margin: auto;
        width: 100%;
    }
    .drop-area2 {
        margin: 0px;
        width: 100%;
        
        
    }
    .error {
        
        margin-top: 5px;
        margin-bottom: 10px;
        margin-left: 25px;
    }
    label{
        padding-left: 0px;
        font-size: small;
    }
    select{
        margin: auto;
        width: 100%;
    }
    .user-form {
        display: block;
    }
    .downloads{
        display: block;
        padding: 25px;
   
        
    }
    .drop-area {
        flex: none;
        padding: 15px;
        font-size: 15px;
        margin: 30px 0px;
    }
    .upload-section{
        display: block;
    }
    .section-grid{
        display: block;
       
    }
    .main-content{
        padding: 50px 30px;}


    .avatar-container {
            height: 200px;
            width: 200px;
            
        }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1em;
    }

    .container {
        padding: 15px;
    }

   
    .btn-update {
        font-size: 12px;
        padding: 10px;
    }

    

    .btn-generate-card,
    .btn-download,
    .btn-upload {
        padding: 16px;
    }
}






